In [ ]:
import pandas as pd

In [ ]:
fruity = pd.read_csv('fruit.csv')
tooty = pd.read_csv('fruit copy.csv')

In [36]:
fruity

    Fruit  Weight  Price  Discount   Color
0   Apple    10.0   1.25        10     Red
1   Grape     2.0   2.30         5  Purple
2  Banana     3.5   4.00        15  Yellow
3   Melon     4.0   1.80        25   Green
4   Lemon     1.0   2.25        20   Green
5  Orange     6.0   3.45        30  Orange

In [37]:
tooty

   Plants    Size
0   Apple  Medium
1   Melon   Large
2   Lemon   Small
3  Orange  Medium

In [ ]:
#fruity['Size'] = fruity.apply(lambda x: [[fruity.Fruit]==[tooty.Plants]], axis=1)

In [ ]:
#fruity['Size'] = fruity['Fruit'].assign(lambda x: tooty [tooty['Plants']== x]['Size'] if x in tooty['Plants'] else 0)

In [ ]:
fruity

In [ ]:
#for i, j in zip(fruity.index, fruity['Fruit']):
#    print(i,j)
#    if j in list(tooty['Plants']):
#        print ('yes')
#        fruity.loc [i, 'Size'] = tooty[tooty['Plants'] == j]['Size']
#    else:
#        print('no')

In [ ]:
new_fruit = fruity.merge(tooty, how="left", left_on="Fruit", right_on="Plants")
new_fruit.drop("Plants", axis=1)

In [43]:
import pandas as pd
   
# initialization of list
students_record= [['Samreena',900],['Mehwish',750],['Asif',895],['Mirha',800],['Affan',850],['Raees',950]] 

students_record2= [['Mehwish','blob'],['Asif','job'],['Mirha','sob'],['Raees','rob']]         
  
# pandas dataframe creation
dataframe = pd.DataFrame(students_record,columns=['Student Names','Student Marks'])
dataframe2 = pd.DataFrame(students_record2,columns=['Students','Nicknames'])
  
# using Lambda function 
dataframe1 = dataframe.assign(Percentage = lambda x: (x['Student Marks'] /1000 * 100))
dataframe3 = dataframe.assign(Nicknames = lambda x: (x[dataframe2.Nicknames] where dataframe["Student Names"] == dataframe2.Students))
  
# display dataframe
display(dataframe1)
display(dataframe2)

SyntaxError: invalid syntax (<ipython-input-43-62215ff374b2>, line 14)

In [33]:
df1 = pd. DataFrame({"Letters": ["a", "b", "c"]})
df2 = pd. DataFrame({"Letters": ["d", "e", "f"], "Numbers": [1, 2, 3]})
numbers = df2["Numbers"]
df1 = df1.join(numbers) #append 'numbers' to 'df1'
print(df1)

  Letters  Numbers
0       a        1
1       b        2
2       c        3

In [38]:
fruity.join(tooty.Size) where fruity.Fruit = tooty.Plants

SyntaxError: invalid syntax (<ipython-input-38-fa4552506264>, line 1)