In [35]:
# import your libraries
import numpy as np
import pandas as pd

In [41]:
# import dataset
fruit_df = pd.read_csv(r'C:\Users\Killian\Projects\Pandas\fruit.csv')
fruit_df

#if in same folder could call it directly (relative path) but not 
# always the case.
#In Python, backslash is used to signify special characters.
# For example, "hello\nworld" -- the \n means a newline. Try printing it.
# Path names on Windows tend to have backslashes in them. 
# But we want them to mean actual backslashes, not special characters.
# r stands for "raw" and will cause backslashes in the string 
# to be interpreted as actual backslashes rather than special characters.

    Fruit  Weight  Price  Discount   Color
0   Apple    10.0   1.25        10     Red
1   Grape     2.0   2.30         5  Purple
2  Banana     3.5   4.00        15  Yellow
3   Melon     4.0   1.80        25   Green
4   Lemon     1.0   2.25        20   Green
5  Orange     6.0   3.45        30  Orange

In [42]:
# check DataFrame's shape
fruit_df.shape

(6, 5)

In [87]:
fruit_df.describe().round()

       Weight  Price  Discount
count     6.0    6.0       6.0
mean      4.0    3.0      18.0
std       3.0    1.0       9.0
min       1.0    1.0       5.0
25%       2.0    2.0      11.0
50%       4.0    2.0      18.0
75%       6.0    3.0      24.0
max      10.0    4.0      30.0

In [43]:
# check DataFrame's summary
fruit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruit     6 non-null      object
 1   Weight    6 non-null      float64
 2   Price     6 non-null      float64
 3   Discount  6 non-null      int64
 4   Color     6 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 368.0+ bytes

In [56]:
#fruit_df.isnull().any()
fruit_df.isnull().sum()

Color    0
dtype: int64

In [50]:
fruit_df[["Color"]].dtypes

Color    object
dtype: object

In [60]:
# check summary of statistics of the DataFrame. See the difference with funtion .info()?
round(fruit_df.describe(),2)

       Weight  Price  Discount
count    6.00   6.00      6.00
mean     4.42   2.51     17.50
std      3.23   1.03      9.35
min      1.00   1.25      5.00
25%      2.38   1.91     11.25
50%      3.75   2.28     17.50
75%      5.50   3.16     23.75
max     10.00   4.00     30.00

In [61]:
fruit_df[1:4]

    Fruit  Weight  Price  Discount   Color
1   Grape     2.0    2.3         5  Purple
2  Banana     3.5    4.0        15  Yellow
3   Melon     4.0    1.8        25   Green

In [62]:
# slice a DataFrame with .iloc() function.
iloc_slice=fruit_df.iloc[[1,3]]
iloc_slice

   Fruit  Weight  Price  Discount   Color
1  Grape     2.0    2.3         5  Purple
3  Melon     4.0    1.8        25   Green

In [63]:
# for the sake of the next exercice, we are going to convert column [1] into the index
fruit2=fruit_df.set_index(['Fruit'])
# fruit2=pd.DataFrame(data=fruit2)
print(fruit2)

        Weight  Price  Discount   Color
Fruit
Apple     10.0   1.25        10     Red
Grape      2.0   2.30         5  Purple
Banana     3.5   4.00        15  Yellow
Melon      4.0   1.80        25   Green
Lemon      1.0   2.25        20   Green
Orange     6.0   3.45        30  Orange

In [64]:
# slice a DataFrame with .loc() function.
loc_slice=fruit2.loc[["Grape", "Lemon"]]
loc_slice

       Weight  Price  Discount   Color
Fruit
Grape     2.0   2.30         5  Purple
Lemon     1.0   2.25        20   Green

In [65]:
fruit_df

    Fruit  Weight  Price  Discount   Color
0   Apple    10.0   1.25        10     Red
1   Grape     2.0   2.30         5  Purple
2  Banana     3.5   4.00        15  Yellow
3   Melon     4.0   1.80        25   Green
4   Lemon     1.0   2.25        20   Green
5  Orange     6.0   3.45        30  Orange

In [78]:
fruit_df.loc[1:3,["Weight"]]
#fruit_df["Grape"]
#fruit_df.Grape

   Weight
1     2.0
2     3.5
3     4.0

In [79]:
#fruit_df.loc[:, ["Price", "Color"]]
fruit_df[["Price", "Color"]]

   Price   Color
0   1.25     Red
1   2.30  Purple
2   4.00  Yellow
3   1.80   Green
4   2.25   Green
5   3.45  Orange